<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Langular</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home">LOGIN</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" style="padding: 80px 30px;">
  <div class="row">
    <ul class="col-xs-3 list-group" style="">
      <li class="list-group-item"><button class="glyphicon glyphicon-search"></button></li>
      <li class="list-group-item"><button class="glyphicon glyphicon-play"></button></li>
    </ul>

    <div class="col-xs-9 panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 text-right" style="xbackground-color: red;">
            <button class="glyphicon glyphicon-remove"></button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center" style="xbackground-color: green; font-size: 16pt;">
            <strong><textedit type="text" text="My title..."></textedit></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" style="xbackground-color: cyan;">
            <textedit type="textarea" text="My text..."></textedit>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>
